.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 3rem;
}

.pagination button {
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #ced4da;
  padding: 0.5rem 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: #e9ecef;
  }
  &:disabled {
    background-color: #f8f9fa;
    color: #adb5bd;
    border: 1px solid #ced4da;
    cursor: not-allowed;
  }
}

.paginationInfo {
  padding: 0 1rem;
}
