@import '/src/variables';



.ReactModal__Overlay{
  z-index: 9999;
  background-color: rgba($main-color, $alpha: .5);
  position: fixed;
  inset: 0px;
}

.detail-custom-modal-content{
  width: 660px;
  height: 322px;
  margin: auto;
  border-radius: 35px;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  font-family: 'noto sans';
  outline: none;
  padding: 20px;
}

.detail-wrap{
  margin: auto;
  width: 519px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid $green-BG-color;
}

.detail-header{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px solid $green-BG-color;
  padding-left: 30px;

  img{
    width: 30px;
    margin-right: 5px;
  }
}

.detail-name {
  font-size: 18px;
  font-weight: bold;

  padding: 10px 0px 8px 0px;
  border-top: 1px solid $green-BG-color;
  border-bottom: 1px solid $green-BG-color;
  padding-left: 30px;
}

.detail-title{
  font-size: 16px;
  padding-top: 17px;
}

.detail-title span{
  font-weight: bold;
  padding: 0 20px 0 30px;
}


.detail-date {
  font-size: 16px;
  padding-top: 17px;
  font-family: "Montserrat";
  font-weight: 500;
  span{
    font-family: 'noto sans';
    font-size: 17px;
  }
}


.detail-date span{
  font-weight: bold;
  padding: 0 20px 0 30px;
}


.detail-category{
  display: flex;
  align-items: center;
  font-size: 16px;  
  padding-top: 15px;
}

.detail-category span{
  font-weight: bold;
  padding: 0 20px 0 30px;
}


.detail-duty {
  display: inline-block;
  width: 70px;
  height: 28px;
  color: $date-rcolor;
  background-color: $white-green;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  margin: auto 0;
  
  span{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    
    div{
      line-height: 0.48;
      height: inherit;
      font-size: 40px;
      margin-right: 2px;
    }
  }
}

.detail-rest {
  display: inline-block;
  width: 70px;
  height: 28px;
  color: $point-color;
  background-color: $white-orange;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;

  span{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    
    div{
      line-height: 0.48;
      height: inherit;
      font-size: 40px;
      margin-right: 2px;
    }
  }
}


  

.detail-close {
  top: 6%;
  right: 5%;
  position: absolute;
  background-color: $green-BG-color;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
}


.detail-reason{
  padding-left: 10px;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
}
