$mainColor: #497174;
$pointColor: #EA613C;
$dateColor: #3ACAB9;
$subColor: #839EA0; 
$whiteOrange: #FEEFEC;
$whiteGreen: #EEF6F1;
$greenBG: #D6E4E5;
$whiteYellow: #F5F0E8;
$lightGreenBG: #EFF5F5;
$white: #FFFFFF;
$black: #1F1F1F;
$lightGray: #F9FAFA;

