@import "src/_variables.scss";

.Container {
  width: 99%;
  height: 99%;
  .index {
    width: 100%;
    height: 36px;
    margin-top: 10px;
    padding: 0px 40px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.4fr 0.5fr 0.6fr;
    align-items: center;
    text-align: center;
    background-color: $light-Green-BG-color;
    color: $main-color;
    .index_title {
      font-size: 14px;
    }
  }
  .lists_content {
    height: 90%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px; /* 스크롤바의 너비 */
    }
    &::-webkit-scrollbar-thumb {
      height: 5px; /* 스크롤바의 길이 */
      background-color: $light-Green-BG-color; /* 스크롤바의 색상 */
      border-radius: 10px;
    }
    .lists {
      width: 98%;
      height: 38px;
      margin-top: 5px;
      margin-left: 10px;
      padding: 5px 30px 5px 30px;
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 0.5fr 0.5fr;
      align-items: center;
      text-align: center;
      font-weight: 400;
      color: $black-color;
      background-color: $light-Grey-color;
      &:hover {
        cursor: pointer;
        background-color: $black-color-30;
      }
    }
  }
}
.modal-content {
  text-align: center; /* 텍스트 가운데 정렬 */
  color: $main-color; /* 원하는 텍스트 색상으로 변경 */
  margin-bottom: 20px; /* 하단 여백 추가 */
  .modal-title {
    font-size: 24px; /* 제목 폰트 크기 조정 */
    font-weight: 700; /* 제목 폰트 두께 조정 */
    margin-bottom: 10px; /* 제목 아래 여백 추가 */
  }
  .modal-text {
    font-size: 18px; /* 내용 폰트 크기 조정 */
  }
}
