@import "src/_variables.scss";

.Container {
  width: 100%;
  height: 100%;
  // background-color: blue;
  .index {
    width: 100%;
    height: 46px;
    margin-top: 10px;
    padding: 0px 40px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.4fr 0.5fr 0.6fr;
    align-items: center;
    text-align: center;
    background-color: $light-Green-BG-color;
    color: $main-color;
    .index_title {
      font-size: 14px;
    }
  }
  .lists_content {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px; /* 스크롤바의 너비 */
    }
    &::-webkit-scrollbar-thumb {
      height: 5px; /* 스크롤바의 길이 */
      background: $light-Green-BG-color; /* 스크롤바의 색상 */
      border-radius: 10px;
    }
    .lists {
      width: 100%;
      height: 38px;
      padding: 5px 40px;
      display: grid;
      grid-template-columns: 0.5fr 2fr 1.5fr 0.5fr 0.5fr;
      align-items: center;
      text-align: center;
      font-weight: 300;
      color: $black-color;
      &:hover {
        cursor: pointer;
      }
      .list {
        padding: 5px 0px;
        &::before {
          content: "|";
          float: left;
          color: $sub-color;
        }
      }
    }
  }
}

.ReactModal__Overlay{
  z-index: 9999;
  background-color: rgba($main-color, $alpha: .5);
  position: fixed;
  inset: 0px;
}


.custom-modal-content{
  width: 660px;
  height: 600px;
  margin: auto;
  border-radius: 35px;
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  font-family: 'noto-sans';
  outline: none;
  padding: 20px;


  input{
    width: 399px;
    height: 46px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding-right: 20px;
    background-color: $light-Grey-color;
    padding-left: 20px;
    color: $sub-color;
  }
  select{
    padding-left: 20px;
    color: $sub-color;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }


  div{
    margin-bottom: 13px;
  }
}

.addEvent-wrap{
  width: 473px;
  height: 464px;
  margin:auto;
  padding: 58px 0px;


}
.addEvent-wrap label{
  font-size: 16px;
  font-weight: bold;
  color: $main-color;
}


.addEvent-header{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: 'noto-sans';
}


.addEvent-title{
  width: 473px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    float: right;
  }
}


.addEvent-start{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    float: right;
  }
}

.addEvent-end{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    float: right;
  }
}

.addEvent-category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  input{
    float: left;
    width: 22px;
  }

  .addCategory-wrap {
    width: 400px;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .addRest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    input {
      margin-right: 10px;
    }
  }

  .addDuty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    input {
      margin-right: 10px;
    }
  }
}

.addEvent-reason{
  display: flex;
  align-items: center;
  justify-content: space-between;
  input{
    float: right;
  }
  select{
    border-radius: 10px;
    background-color: $light-Grey-color;
    border: none;
    width: 400px;
    height: 50px;
  }
}

.btn-group {
  width: 365px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;

  button{
    font-family: "noto-sans";
    width: 177px;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid $main-color;
    color: $main-color;
    border-radius: 10px;
    margin-right: 10px;
  }

  button:hover{
    background-color: $main-color;
    color: white;
  }
}
