@import "src/_variables.scss";
@import "src/_mixin.scss";

.password_page {
  width: 600px;
  height: 500px;
  margin: auto;
  padding: 0 80px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content_wrap {
    position: relative;
    width: 100%;
    margin-top: 90px;
    // background-color: blue;
    .content_box {
      height: 70px;
      color: $main-color;
      .input_box {
        display: flex;
        border-radius: 10px;
        padding: 12px;
        background-color: $light-Grey-color;
        &:focus-within {
          border: 1.5px solid $sub-color;
        }
        .input {
          @include wide-input;
          border: none;
        }
        i {
          margin: auto;
        }
      }
      .error_message {
        @include error-message;
      }
    }
  }
  .submit_btn {
    @include wide-button;
  }
  .submit_message {
    // margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    color: $date-color-blue;
    margin-left: 10px;
  }  
}
