@import "/src/variables.scss";
@import "/src/mixin.scss";

.guideWrap {
  text-align: center;
  display: block;
  margin-top: 40vh;
}

.main-guide {
  font-size: 30px;
  color: #49767a;
  font-weight: 700;
}
.sub-guide {
  font-size: 14px;
}

.naviate-btn {
  margin-top: 30px;
}

.naviate-btn span {
  color: #49767a;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 350px;
  background-color: #839ea0;
  border-radius: 900px 900px 0 0;
}

.bear-face {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 500px 500px 0 0;
}

.bear-eyes {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 50%;
}

// .bear-mouth {
//   position: absolute;
//   top: 65%;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 80px;
//   height: 30px;
//   background-color: transparent;
//   border-top: 2px solid #000000; /* 입을 만듭니다 */
//   border-radius: 50%;
// }
