@import "/src/variables.scss";
@import "/src/mixin.scss";

.guideWrap {
  text-align: center;
  display: block;
  margin-top: 35vh;
}

.main-guide {
  font-size: 30px;
  color: #49767a;
  font-weight: 700;
}
.sub-guide {
  font-size: 14px;
}

.naviate-btn {
  margin-top: 30px;
}

.naviate-btn span {
  color: #49767a;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vh;
  height: 400px;
  background-color: #839ea0;
  border-radius: 2000px 2000px 0 0;
}

.icon {
  font-size: 30px;
}
