@import "src/_variables.scss";
@import "src/_mixin.scss";

.list {
  position: relative;
  width: 98%;
  height: 38px;
  margin: auto;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black-color;
  font-size: 14px;
  font-weight: 400;
  .list_option {
    width: 89%;
    margin-left: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    // background-color: violet;
    .text {
      width: 100%;
      &.name {
        width: 10%;
        &::after {
          @include index-bar;
        }
      }
      &.title {
        width: 40%;
        &::after {
          @include index-bar;
        }
      }
      &.reason {
        width: 10%;
        &::after {
          @include index-bar;
        }
      }
      &.period {
        width: 30%;
        &::after {
          @include index-bar;
        }
      }
      &.count {
        width: 10%;
        &::after {
          @include index-bar;
        }
      }
    }
  }
  .permission {
    @include permission-button;
  }
  .checked {
    @include non-permission-button;
  }
}
