@import "src/_variables.scss";

.list {
  position: relative;
  width: 100%;
  height: 38px;
  margin: auto;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black-color;
  font-size: 14px;
  font-weight: 400;
  .list_option {
    width: 89%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    .text {
      width: 100%;
      &.name {
        width: 21%;
        &::after {
          content: "|";
          float: right;
          color: $sub-color;
        }
      }
      &.title {
        width: 46%;
        &::after {
          content: "|";
          float: right;
          color: $sub-color;
        }
      }
      &.period {
        width: 33%;
        &::after {
          content: "|";
          float: right;
          color: $sub-color;
        }
      }
    }
  }
  .permission {
    background-color: $point-color;
    color: $white-color;
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 14px;
    &:hover {
      background-color: $white-orange;
      color: $point-color;
    }
  }
}
