@import "/src/variables";
@import "src/_mixin.scss";

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color-30;
  z-index: 9999;
  .modal-window {
    width: 80%;
    max-width: 500px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    background-color: $white-color;
  }
}

// // 연차 리스트 수정,삭제 모달
// .modal-content {
//   width: 100%; /* 모달의 최대 너비 조정 */
//   max-width: 500px; /* 모달의 최대 너비 제한 */
//   height: 100%;
//   // background-color: $main-color;
//   border-radius: 30px;
//   overflow: hidden;
//   padding: 20px; /* 모달 내부 컨텐츠 주변 여백 조정 */
//   font-size: 16px; /* 폰트 크기 조정 */
//   text-align: center; /* 내용을 가운데 정렬 */
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   .modal-header {
//     font-size: 18px;
//   }
//   .modal-title {
//     label {
//     }
//   }
//   .addEvent-start {
//   }
//   .addEvent-end {
//   }
//   .addEvent-reason {
//   }
//   .btn-group {
//     width: 200px;
//     display: flex;
//     background-color: red;
//     margin-top: 20px;
//     &:hover {
//       transform: scale(1.03);
//     }
//     .btn-delet {
//       @include middle-button-outline;
//     }
//     .btn-edit {
//       @include middle-button;
//     }
//   }
// }
