@import "/src/mixin";
@import "/src/variables";

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-window {
  width: 80%; /* 모달의 최대 너비 조정 */
  max-width: 500px; /* 모달의 최대 너비 제한 */
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px; /* 모달 내부 컨텐츠 주변 여백 조정 */
  font-size: 16px; /* 폰트 크기 조정 */
  margin-top: 20px; /* 모달 컨텐츠 상단 여백 추가 */
  text-align: center; /* 내용을 가운데 정렬 */
}

.modal-close {
  width: 164px;
  height: 40px;
  color: #000;
  font-size: 18px;
  transition: 0.1s;
  background-color: var(--primary2);
  margin: 10px auto 0;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    background-color: var(--primary3);
  }
}

.modal-content {
  text-align: center; /* 텍스트 가운데 정렬 */
  color: $main-color; /* 원하는 텍스트 색상으로 변경 */
  margin-bottom: 20px; /* 하단 여백 추가 */
  .modal-title {
    font-size: 24px; /* 제목 폰트 크기 조정 */
    font-weight: 700; /* 제목 폰트 두께 조정 */
    margin-bottom: 10px; /* 제목 아래 여백 추가 */
  }
  .modal-text {
    font-size: 18px; /* 내용 폰트 크기 조정 */
  }
}
