@import "src/_variables.scss";
.login_page {
  position: relative;
  height: 100vh;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  color: $black-color;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_box {
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 80px;
    border-radius: 30px;
    background-color: $white-color;
    box-shadow: 5px 5px 20px $main-color-30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .title_Wrap {
      text-align: center;
      font-size: 24px;
      font-weight: 800;
    }
    .content_Wrap {
      position: relative;
      margin-top: 40px;
      width: 100%;
      height: 40%;
      .content_box {
        width: 100%;
        height: 100px;
        .inputTitle {
          margin-left: 10px;
        }
        .inputWrap {
          display: flex;
          border-radius: 10px;
          padding: 12px;
          margin-top: 7px;
          background-color: $light-Grey-color;
          &:focus-within {
            border: 1px solid $main-color;
          }
          .input {
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            background-color: $light-Grey-color;
            color: $main-color;
            &::placeholder {
              font-weight: 500;
              font-size: 14px;
              color: $sub-color;
            }
          }
        }
        .inputErrorMessage {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 400;
          color: $point-color;
          margin-left: 10px;
        }
      }
    }
    .btn_Wrap {
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      .login_btn {
        margin: 40px auto 20px;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 16px;
        background-color: $main-color;
        color: $white-color;
        font-weight: 700;
        cursor: pointer;
      }
      .signup_btn {
        color: $main-color;
        cursor: pointer;
      }
    }
  }
}
