@mixin wide-button {
  margin: 40px auto 20px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: $main-color;
  color: $white-color;
  font-weight: 700;
  cursor: pointer;
}
@mixin permission-button {
  padding: 4px 10px;
  border-radius: 5px;
  color: $white-color;
  font-weight: 700;
  background-color: $point-color;
  cursor: pointer;
}

@mixin non-permission-button {
  background-color: $white-orange;
  color: $point-color;
  font-weight: 700;
  cursor: pointer;
}

@mixin wide-input {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: $main-color;
  background-color: $light-Grey-color;
  &::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: $sub-color;
  }
}

@mixin error-message {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: $point-color;
  margin-left: 10px;
}

@mixin select-wide-input {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: $sub-color;
  border: none;
  border-right: 3px solid $light-Grey-color;
  outline: none;
  border-radius: 10px;
  background-color: $light-Grey-color;
  &:focus-within {
    border: 1.5px solid $sub-color;
  }
}

@mixin select-middle-input {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  color: $sub-color;
  border: none;
  border-radius: 10px;
  background-color: $light-Grey-color;
  &:focus-within {
    border: 1.5px solid $sub-color;
  }
}

@mixin index-bar {
  content: "|";
  float: right;
  color: $green-BG-color;
}
