// * 키 컬러
$main-color: #49767a;
$main-color-50: #49767a8d;
$main-color-30: #49767a4c;
$sub-color: #82a1a3;
$green-BG-color: #d6e4e5;
$light-Green-BG-color: #eff5f5;

// * 블랙 & 화이트
$white-color: #ffffff;
$black-color: #1f1f1f;
$black-color-50: #1f1f1f7b;
$black-color-30: #1f1f1f0f;
$light-Grey-color: #f9fafa;

// * 포인트 컬러
$point-color: #ea613c;
$point-color-50: #ea623c74;
$date-color-green: #3acab9;
$date-color-green-50: #3acab96e;
$date-color-blue: #466FFF;
$white-orange: #feefec;
$white-green: #eef6f1;

// * 사이즈 설정
$container-width: 1080px;
