// common colors
$bg_primary: #ebf0ff;
$bg_secondary: #fff;

$point_bg_primary: #5468e7;
$point_bg_secondary-1: #623de6;
$point_bg_secondary-2: #876cec;
$point_bg_secondary-3: #ab98f2;
$point_bg_secondary-4: #cbbffc;

$text_primary: #000;
$text_secondary: #535486;

$description_primary-1: #524874;
$description_primary-2: #7b7497;
$description_primary-3: #a39eb9;
$description_primary-4: #cac9dc;
$description_secondary: #8a8a8a;

$point_cherry: #cc0000;
$point_orange: #f48c06;
$point_green: #45b062;
$point_blue: #5b8ce5;
$point_pink: #ff7976;

$bg-grey: #a3a1a1;
$bg-lightgrey: #e3dede;
$bg-sub-grey: #8b8687;
$bg-black: #333030;
$bg-blue: #3788d8;
$bg-lightblue: #e6f0ff;
