// * 키 컬러
$main-color: #497174;
$main-color-50: #49717475;
$main-color-30: #49717447;
$sub-color: #839ea0;
$green-BG-color: #d6e4e5;
$light-Green-BG-color: #eff5f5;

// * 블랙 & 화이트
$white-color: #ffffff;
$black-color: #1f1f1f;
$black-color-50: #1f1f1f7b;
$light-Grey-color: #f9fafa;

// * 포인트 컬러
$point-color: #ea613c;
$date-rcolor: #3acab9;
$white-orange: #feefec;
$white-green: #eef6f1;

// * 사이즈 설정
$container-width: 1080px;
