@import '@/_variables.scss';

.container {
  background-color: $bg-primary;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarWrapper {
  width: 95%;
  height: 97%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 5px 10px $description_primary-2;
  padding: 15px 15px 0 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

